body{
    font-style: normal;
    text-align: left;
}
h1 {
    color: brown;
    font-style: normal;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}